@charset "utf-8";

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*
* style.css는 ASK-OTP의 일부입니다. 불법복제시 불이익을 받을 수 있습니다. 
*
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.frm-wrap {
    margin-bottom: 2rem;

    .frm-group {
        clear: both;
        overflow: hidden;
        border-bottom: 1px solid #e6e6e6;
        background-color: #f6f6f6;

        .frm-label {
            display: block;
            padding: 0;
            margin: 0;
            float: left;
            width: 20%;
            font-size: .9rem;
            font-weight: 600;
            line-height: 35px;

            span {
                display: block;
                padding: 10px;
            }
        }

        .frm-control {
            float: left;
            width: 80%;
            background-color: #fff;

            .frm-cont {
                display: block;
                padding: 10px;
            }
        }
    }

    .frm-input {
        border: 1px solid rgba(0, 0, 0, .15);
        height: 35px;
        line-height: 35px;
        width: 100%;
        font-size: 1rem;
        padding-left: 1rem;
        border-radius: 6px;
    }

    .frm-input.size50 {
        width: 50%;
    }

    .frm-input.size20 {
        width: 20%;
    }

    .frm-input.required {
        border-bottom: 1px solid rgba(0, 0, 0, .5);
        border-right: 1px solid rgba(0, 0, 0, .5);
        background-color: #eaeaea;
    }

    .frm-check {
        line-height: 35px;
        height: 35px;
    }

    .frm-head {
        font-size: 1rem;
        font-weight: 600;
        padding: 10px 0;
        margin: 1rem 0 0;
    }
}


h2.frm-head {
    color: #0033ff;
}

h3.frm-head {
    color: #333;
    font-size: .875rem;
}

.alert-info {
    margin: .5rem 0;
    background-color: #CCE5FF;
    border: 1px solid rgb(123, 153, 219);
    padding: .5rem;
    font-size: .75rem;
    color: #611b1b;
    border-left: 5px solid rgb(123, 153, 219);
}

.alert-warning {
    margin: .5rem 0;
    background-color: rgb(240, 132, 83);
    border: 1px solid rgb(243, 89, 89);
    padding: .5rem;
    font-size: .75rem;
    color: #000000;
    border-left: 5px solid rgb(255, 0, 0);
}

.border-top-1 {
    border-top: 1px solid #e6e6e6;
}

.help-img {
    padding: .5rem 0;

    img {
        border: 1px solid #ccc;
    }
}

.board-list-wrap {
    overflow: hidden;
    padding: 1rem 0;

    .board,
    .sitemap-board {
        float: left;
        width: 250px;

    }

    .board-button {
        float: left;
        width: 140px;
        padding: 2rem;

        .button {
            display: block;
            font-size: .875rem;
            background-color: #333;
            color: #fff;
            text-align: center;
            border-radius: 4px;
            padding: 5px 0;
        }
    }

    select {
        width: 99%;
        height: 150px;
        background-color: #efefef;
        padding: .275rem;

        option {
            font-size: .75rem;
        }
    }
}

.xml-codeview {
    textarea {
        width: 100%;
        height: 200px !important;
    }
}

.otp-wrap{
    width: 300px;
    margin: 5rem auto;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
}