.mh-sticky {
    position: sticky;
    top: 0;
    z-index: 10;
    transition: transform 0.2s ease;
    transform: translate3d(0, 0, 0);

    &.mh-unpinned {
        transform: translate3d(0, -100%, 0);
    }
}
