@charset "UTF-8";
/* Community pc menu */
@media (min-width: 992px) { body.colorset-default .community-pc-menu-wrap nav.nav-wrap { z-index: 2000;  background-color: #fff; } }

/* 다크모드 */
@media (min-width: 992px) { body.colorset-dark .community-pc-menu-wrap nav.nav-wrap { z-index: 2000;  background-color: #212529; } }
body.colorset-dark .community-pc-menu-wrap .community-main-menu { z-index: 2000;  border-bottom: 1px solid #343a40; }
body.colorset-dark .community-pc-menu-wrap .top-quick-menu-wrap { z-index: 2000;  border-bottom: 1px solid rgba(206, 212, 218, 0.2); }
body.colorset-dark .community-pc-menu-wrap .search-widget-wrap .popular-wrap .btn-secondary { z-index: 2000;  color: #e9ecef; }

.community-pc-menu-wrap { z-index: 2000; }
.community-pc-menu-wrap .nav-wrap { padding: 0.5rem 1rem;  z-index: 2000; }
@media (min-width: 992px) { .community-pc-menu-wrap .nav-wrap { padding: 0;  z-index: 2000; } }
.community-pc-menu-wrap .pc-logo { margin-top: .5rem; }
.community-pc-menu-wrap .search-widget-wrap { max-width: 400px; margin-bottom: .5rem;  z-index: 2000; }
.community-pc-menu-wrap .search-widget-wrap .popular-wrap .btn-secondary { background-color: transparent; border: none; color: #343a40;  z-index: 2000; }
.community-pc-menu-wrap .top-quick-menu-wrap { border-bottom: 1px solid rgba(206, 212, 218, 0.5);  z-index: 2000; }
.community-pc-menu-wrap .main-menu-list { position: relative; position: relative; padding-left: .15rem; padding-right: .15rem; z-index: 1; padding-left: .75rem; padding-right: .75rem;  z-index: 2000; }
@media (min-width: 992px) { .community-pc-menu-wrap .main-menu-list { padding-left: .25rem; padding-right: .25rem;  z-index: 2000; } }
@media (min-width: 1200px) { .community-pc-menu-wrap .main-menu-list { z-index: 2000;  padding-left: .5rem; padding-right: .5rem; } }
.community-pc-menu-wrap .main-menu-list .submenu-wrap { z-index: 100; top: 100%; display: none; position: absolute; left: 0; background-color: #495057; border: 1px solid #343a40; padding: .5rem; min-width: 10rem; }
.community-pc-menu-wrap .main-menu-list .submenu-wrap .sub-menu-link { z-index: 2000;  color: #f8f9fa; display: block; padding: .2rem .5rem; }
.community-pc-menu-wrap .main-menu-list .main-menu-link { z-index: 2000;  display: block; font-size: 1rem; font-weight: 600; color: #e9ecef; padding: .5rem .75rem; border-top: .25rem solid transparent; border-bottom: .25rem solid transparent; font-family: "Noto Sans KR", sans-serif; }
.community-pc-menu-wrap .main-menu-list .main-menu-link:hover { z-index: 2000;  border-top-color: rgba(255, 255, 255, 0.25); }
.community-pc-menu-wrap .main-menu-list:hover .submenu-wrap { z-index: 2000;  display: block !important; }
.community-pc-menu-wrap .main-menu-list:last-child .submenu-wrap { z-index: 2000;  right: 0; left: auto; }
.community-pc-menu-wrap .pc-menu-wrap.bg-white .top-quick-menu .nav-link { z-index: 2000;  color: #495057 !important; }
.community-pc-menu-wrap .pc-menu-wrap.bg-white .main-menu-list .submenu-wrap { z-index: 2000;  background-color: #fff; border: 1px solid transparent; }
.community-pc-menu-wrap .pc-menu-wrap.bg-white .main-menu-list .submenu-wrap .sub-menu-link { z-index: 2000;  color: #495057; }
.community-pc-menu-wrap .pc-menu-wrap.bg-white .main-menu-list .main-menu-link { z-index: 2000;  color: #495057; }
.community-pc-menu-wrap .pc-menu-wrap.bg-white .main-menu-list .main-menu-link:hover { z-index: 2000;  border-top-color: rgba(255, 255, 255, 0.25); text-shadow: 2px 2px 4px rgba(52, 58, 64, 0.3); border-top-color: rgba(52, 58, 64, 0.2); }
.community-pc-menu-wrap .pc-menu-wrap.bg-white .top-quick-menu-wrap { z-index: 2000;  border-bottom: 1px solid rgba(206, 212, 218, 0.3); }
.community-pc-menu-wrap .pc-menu-wrap.bg-white .menu-flex-wrap { z-index: 2000;  border-bottom: 1px solid rgba(206, 212, 218, 0.6); }
.community-pc-menu-wrap .pc-menu-wrap.bg-white .community-main-menu { z-index: 2000;  border-top: 1px solid rgba(206, 212, 218, 0.6); border-bottom: 1px solid rgba(206, 212, 218, 0.6); }
.community-pc-menu-wrap .pc-menu-wrap.bg-light .top-quick-menu .nav-link { z-index: 2000;  color: #495057 !important; }
.community-pc-menu-wrap .pc-menu-wrap.bg-light .main-menu-list .submenu-wrap { z-index: 2000;  background-color: #fff; border: 1px solid transparent; }
.community-pc-menu-wrap .pc-menu-wrap.bg-light .main-menu-list .submenu-wrap .sub-menu-link { z-index: 2000;  color: #495057; }
.community-pc-menu-wrap .pc-menu-wrap.bg-light .main-menu-list .main-menu-link { z-index: 2000;  color: #495057; }
.community-pc-menu-wrap .pc-menu-wrap.bg-light .main-menu-list .main-menu-link:hover { z-index: 2000;  border-top-color: rgba(255, 255, 255, 0.25); text-shadow: 2px 2px 4px rgba(52, 58, 64, 0.3); border-top-color: rgba(52, 58, 64, 0.2); }
.community-pc-menu-wrap .pc-menu-wrap.bg-light .top-quick-menu-wrap { z-index: 2000;  border-bottom: 1px solid rgba(206, 212, 218, 0.3); }
.community-pc-menu-wrap .pc-menu-wrap.bg-light .menu-flex-wrap { z-index: 2000;  border-bottom: 1px solid rgba(206, 212, 218, 0.6); }
.community-pc-menu-wrap .pc-menu-wrap.bg-light .community-main-menu { z-index: 2000;  border-bottom: 1px solid rgba(206, 212, 218, 0.6); }
.community-pc-menu-wrap .pc-menu-wrap.bg-dark .navbar-toggler.c-button { z-index: 2000;  color: #fff; }
.community-pc-menu-wrap .pc-menu-wrap.bg-dark .top-quick-menu .nav-link { z-index: 2000;  color: #f8f9fa !important; }
.community-pc-menu-wrap .pc-menu-wrap.bg-dark .main-menu-list .submenu-wrap { z-index: 2000;  background-color: #32373d; border: 1px solid transparent; }
.community-pc-menu-wrap .pc-menu-wrap.bg-dark .main-menu-list .submenu-wrap .sub-menu-link { z-index: 2000;  color: #fff; text-shadow: 1px 1px 1px rgba(52, 58, 64, 0.5); }
.community-pc-menu-wrap .pc-menu-wrap.bg-dark .main-menu-list .main-menu-link { z-index: 2000;  color: #fff; text-shadow: 2px 2px 2px rgba(52, 58, 64, 0.25); }
.community-pc-menu-wrap .pc-menu-wrap.bg-dark .main-menu-list .main-menu-link:hover { z-index: 2000;  border-top-color: rgba(255, 255, 255, 0.25); text-shadow: 2px 2px 4px rgba(52, 58, 64, 0.5); }
.community-pc-menu-wrap .pc-menu-wrap.bg-dark .top-quick-menu-wrap { z-index: 2000;  border-bottom: 1px solid rgba(206, 212, 218, 0.15); }
.community-pc-menu-wrap .pc-menu-wrap.bg-dark .community-main-menu { z-index: 2000;  background-color: #212529; }
.community-pc-menu-wrap .pc-menu-wrap.bg-primary .navbar-toggler.c-button { z-index: 2000;  color: #fff; }
.community-pc-menu-wrap .pc-menu-wrap.bg-primary .top-quick-menu .nav-link { color: #f8f9fa !important; }
.community-pc-menu-wrap .pc-menu-wrap.bg-primary .main-menu-list .submenu-wrap { z-index: 2000;  background-color: #0079fa; border: 1px solid transparent; }
.community-pc-menu-wrap .pc-menu-wrap.bg-primary .main-menu-list .submenu-wrap .sub-menu-link { z-index: 2000;  color: #fff; text-shadow: 1px 1px 1px rgba(52, 58, 64, 0.5); }
.community-pc-menu-wrap .pc-menu-wrap.bg-primary .main-menu-list .main-menu-link { z-index: 2000;  color: #fff; text-shadow: 2px 2px 2px rgba(52, 58, 64, 0.25); }
.community-pc-menu-wrap .pc-menu-wrap.bg-primary .main-menu-list .main-menu-link:hover { z-index: 2000;  border-top-color: rgba(255, 255, 255, 0.25); text-shadow: 2px 2px 4px rgba(52, 58, 64, 0.5); }
.community-pc-menu-wrap .pc-menu-wrap.bg-primary .top-quick-menu-wrap { z-index: 2000;  border-bottom: 1px solid rgba(206, 212, 218, 0.25); }
.community-pc-menu-wrap .pc-menu-wrap.bg-secondary .navbar-toggler.c-button { z-index: 2000;  color: #fff; }
.community-pc-menu-wrap .pc-menu-wrap.bg-secondary .top-quick-menu .nav-link { z-index: 2000;  color: #f8f9fa !important; }
.community-pc-menu-wrap .pc-menu-wrap.bg-secondary .main-menu-list .submenu-wrap { z-index: 2000;  background-color: #6a727a; border: 1px solid transparent; }
.community-pc-menu-wrap .pc-menu-wrap.bg-secondary .main-menu-list .submenu-wrap .sub-menu-link { z-index: 2000;  color: #fff; text-shadow: 1px 1px 1px rgba(52, 58, 64, 0.5); }
.community-pc-menu-wrap .pc-menu-wrap.bg-secondary .main-menu-list .main-menu-link { z-index: 2000;  color: #fff; text-shadow: 2px 2px 2px rgba(52, 58, 64, 0.25); }
.community-pc-menu-wrap .pc-menu-wrap.bg-secondary .main-menu-list .main-menu-link:hover { z-index: 2000;  border-top-color: rgba(255, 255, 255, 0.25); text-shadow: 2px 2px 4px rgba(52, 58, 64, 0.5); }
.community-pc-menu-wrap .pc-menu-wrap.bg-secondary .top-quick-menu-wrap { z-index: 2000;  border-bottom: 1px solid rgba(206, 212, 218, 0.25); }
.community-pc-menu-wrap .pc-menu-wrap.bg-success .navbar-toggler.c-button { z-index: 2000;  color: #fff; }
.community-pc-menu-wrap .pc-menu-wrap.bg-success .top-quick-menu .nav-link { z-index: 2000;  color: #f8f9fa !important; }
.community-pc-menu-wrap .pc-menu-wrap.bg-success .main-menu-list .submenu-wrap { z-index: 2000;  background-color: #27a343; border: 1px solid transparent; }
.community-pc-menu-wrap .pc-menu-wrap.bg-success .main-menu-list .submenu-wrap .sub-menu-link { z-index: 2000;  color: #fff; text-shadow: 1px 1px 1px rgba(52, 58, 64, 0.5); }
.community-pc-menu-wrap .pc-menu-wrap.bg-success .main-menu-list .main-menu-link { z-index: 2000;  color: #fff; text-shadow: 2px 2px 2px rgba(52, 58, 64, 0.25); }
.community-pc-menu-wrap .pc-menu-wrap.bg-success .main-menu-list .main-menu-link:hover { z-index: 2000;  border-top-color: rgba(255, 255, 255, 0.25); text-shadow: 2px 2px 4px rgba(52, 58, 64, 0.5); }
.community-pc-menu-wrap .pc-menu-wrap.bg-success .top-quick-menu-wrap { z-index: 2000;  border-bottom: 1px solid rgba(206, 212, 218, 0.25); }
.community-pc-menu-wrap .pc-menu-wrap.bg-danger .navbar-toggler.c-button { z-index: 2000;  color: #fff; }
.community-pc-menu-wrap .pc-menu-wrap.bg-danger .top-quick-menu .nav-link { z-index: 2000;  color: #f8f9fa !important; }
.community-pc-menu-wrap .pc-menu-wrap.bg-danger .main-menu-list .submenu-wrap { z-index: 2000;  background-color: #db3141; border: 1px solid transparent; }
.community-pc-menu-wrap .pc-menu-wrap.bg-danger .main-menu-list .submenu-wrap .sub-menu-link { z-index: 2000;  color: #fff; text-shadow: 1px 1px 1px rgba(52, 58, 64, 0.5); }
.community-pc-menu-wrap .pc-menu-wrap.bg-danger .main-menu-list .main-menu-link { z-index: 2000;  color: #fff; text-shadow: 2px 2px 2px rgba(52, 58, 64, 0.25); }
.community-pc-menu-wrap .pc-menu-wrap.bg-danger .main-menu-list .main-menu-link:hover { z-index: 2000;  border-top-color: rgba(255, 255, 255, 0.25); text-shadow: 2px 2px 4px rgba(52, 58, 64, 0.5); }
.community-pc-menu-wrap .pc-menu-wrap.bg-danger .top-quick-menu-wrap { z-index: 2000;  border-bottom: 1px solid rgba(206, 212, 218, 0.15); }
.community-pc-menu-wrap .pc-menu-wrap.bg-warning .navbar-toggler.c-button { z-index: 2000;  color: #343a40; }
.community-pc-menu-wrap .pc-menu-wrap.bg-warning .top-quick-menu .nav-link { z-index: 2000;  color: #343a40 !important; }
.community-pc-menu-wrap .pc-menu-wrap.bg-warning .main-menu-list .submenu-wrap { z-index: 2000;  background-color: #ffc002; border: 1px solid transparent; }
.community-pc-menu-wrap .pc-menu-wrap.bg-warning .main-menu-list .submenu-wrap .sub-menu-link { z-index: 2000;  color: #fff; text-shadow: 1px 1px 1px rgba(52, 58, 64, 0.5); }
.community-pc-menu-wrap .pc-menu-wrap.bg-warning .main-menu-list .main-menu-link { z-index: 2000;  color: #fff; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25); }
.community-pc-menu-wrap .pc-menu-wrap.bg-warning .main-menu-list .main-menu-link:hover { z-index: 2000;  border-top-color: rgba(255, 255, 255, 0.25); text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }
.community-pc-menu-wrap .pc-menu-wrap.bg-warning .top-quick-menu-wrap { z-index: 2000;  border-bottom: 1px solid rgba(52, 58, 64, 0.1); }
.community-pc-menu-wrap .pc-menu-wrap.bg-info .navbar-toggler.c-button { z-index: 2000;  color: #343a40; }
.community-pc-menu-wrap .pc-menu-wrap.bg-info .top-quick-menu .nav-link { z-index: 2000;  color: #343a40 !important; }
.community-pc-menu-wrap .pc-menu-wrap.bg-info .main-menu-list .submenu-wrap { z-index: 2000;  background-color: #169eb3; border: 1px solid transparent; }
.community-pc-menu-wrap .pc-menu-wrap.bg-info .main-menu-list .submenu-wrap .sub-menu-link { z-index: 2000;  color: #fff; text-shadow: 1px 1px 1px rgba(52, 58, 64, 0.5); }
.community-pc-menu-wrap .pc-menu-wrap.bg-info .main-menu-list .main-menu-link { z-index: 2000;  color: #fff; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25); }
.community-pc-menu-wrap .pc-menu-wrap.bg-info .main-menu-list .main-menu-link:hover { z-index: 2000;  border-top-color: rgba(255, 255, 255, 0.25); text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }
.community-pc-menu-wrap .pc-menu-wrap.bg-info .top-quick-menu-wrap { z-index: 2000;  border-bottom: 1px solid rgba(206, 212, 218, 0.25); }
.community-pc-menu-wrap .menu-container { z-index: 2000;  padding-left: 0; padding-right: 0; }
@media (min-width: 1200px) { .community-pc-menu-wrap .menu-container { z-index: 2000;  padding-left: 15px; padding-right: 15px; } }
.community-pc-menu-wrap .empty-navigation { z-index: 2000;  font-weight: 500; font-family: "Noto Sans KR", sans-serif; font-size: 1.125rem; color: #fff; text-shadow: 2px 2px 4px rgba(52, 58, 64, 0.75); }
.community-pc-menu-wrap .empty-navigation a { z-index: 2000;  color: #e9ecef; }
.community-pc-menu-wrap .bg-light .empty-navigation, .community-pc-menu-wrap .bg-white .empty-navigation { z-index: 2000;  font-weight: 500; font-family: "Noto Sans KR", sans-serif; font-size: 1.125rem; color: #495057; text-shadow: 2px 2px 4px rgba(52, 58, 64, 0.75); }
.community-pc-menu-wrap .bg-light .empty-navigation a, .community-pc-menu-wrap .bg-white .empty-navigation a { z-index: 2000;  color: #343a40; }
.community-pc-menu-wrap .img-responsive { z-index: 2000;  display: flex; justify-content: center; align-items: center; }
.community-pc-menu-wrap .img-responsive .banner-image { z-index: 2000;  max-width: 100%; width: 100%; height: auto; }
.community-pc-menu-wrap nav.mobile-bg-dark { z-index: 2000;  background-color: #343a40; }
.community-pc-menu-wrap nav.mobile-bg-dark .navbar-toggler { color: #fff; }
.community-pc-menu-wrap nav.mobile-bg-primary { z-index: 2000;  background-color: #007bff; }
.community-pc-menu-wrap nav.mobile-bg-primary .navbar-toggler { z-index: 2000;  color: #fff; }
.community-pc-menu-wrap nav.mobile-bg-secondary { z-index: 2000;  background-color: #6c757d; }
.community-pc-menu-wrap nav.mobile-bg-secondary .navbar-toggler { color: #fff; }
.community-pc-menu-wrap nav.mobile-bg-danger { z-index: 2000;  background-color: #dc3545; }
.community-pc-menu-wrap nav.mobile-bg-danger .navbar-toggler { z-index: 2000;  color: #fff; }
.community-pc-menu-wrap nav.mobile-bg-warning { z-index: 2000;  background-color: #ffc107; }
.community-pc-menu-wrap nav.mobile-bg-warning .navbar-toggler { color: #fff; }
.community-pc-menu-wrap nav.mobile-bg-success { z-index: 2000;  background-color: #28a745; }
.community-pc-menu-wrap nav.mobile-bg-success .navbar-toggler { z-index: 2000;  color: #fff; }
.community-pc-menu-wrap nav.mobile-bg-info { z-index: 2000;  background-color: #17a2b8; }
.community-pc-menu-wrap nav.mobile-bg-info .navbar-toggler { z-index: 2000;  color: #fff; }
.community-pc-menu-wrap nav.mobile-bg-light { z-index: 2000;  background-color: #f8f9fa; }
.community-pc-menu-wrap nav.mobile-bg-light .navbar-toggler { z-index: 2000;  color: #343a40; }
.community-pc-menu-wrap nav.mobile-bg-white { z-index: 2000;  background-color: #fff; }
.community-pc-menu-wrap nav.mobile-bg-white .navbar-toggler { z-index: 2000;  color: #343a40; }

.the-logo {
    text-align: center;
}

.navbar-brand {
    justify-content: center !important;
    align-content: center !important;
}

.pc-logo {
    width: 60%;
    margin: auto; 
}

.the-logo {
    width: 100%; 
    height: 100%;
    text-align: center; 
}

.d-lg-none {
    width: 50%; 
    height: 50%; 
}

@media (max-width: 1000px) { 
    .the-logo {
     content:url("http://www.goodayoutube.com/data/bp_file/bp_logo_1593876417d74209ff301aff39200fe16ca77e8189.png");
    }
}

.the-image-logo { background-image: url(http://bp_logo_1593876441bb3959bc28d280d3dfdc7f11f58eda9a.png); }
@media (max-width: 1200px) {.the-image-logo { background-image: url(http://www.goodayoutube.com/data/bp_file/bp_logo_1593876417d74209ff301aff39200fe16ca77e8189.png); }}
/*# sourceMappingURL=menu.css.map */